@media (max-width:567px){
    .hero-section .col-lg-8{ transform:translateY(60vh) ; -webkit-transform:translateY(60vh) ; -moz-transform:translateY(60vh) ; -ms-transform:translateY(60vh) ; -o-transform:translateY(60vh) ; }
    .hero-section .col-lg-8 p{font-size: 2.2vmax;}
    .design { transform: translateX(-25%); -webkit-transform: translateX(-25%); -moz-transform: translateX(-25%); -ms-transform: translateX(-25%); -o-transform: translateX(-25%);}
    .development{ transform: translate(-50%, 66%); -webkit-transform: translate(-50%, 66%); -moz-transform: translate(-50%, 66%); -ms-transform: translate(-50%, 66%); -o-transform: translate(-50%, 66%); }
    .my-work{margin-top: 40px;}
    h2{font-size: 4vmax;}
    h4{font-size: 2.8vmax; margin-top: 10px;}
    a{font-size: 18px;}
    .contact-us h2 > a{font-size: 4vmax;}
    .social-links .col-lg-4{padding-bottom: 16px;}
}